<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div ng-controller="ContactController">
            <form>
                <div class= "col-xs-6"> 
                    <button name="button" type="login" url="#">login</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button name="button" type="logout" url="#">logout</button>
                    </br></br>
                </div>
                <div class="col-xs-6">
                    <button name="button" type="Register" url="#">Register</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button name="button" type="Unregister" url="#">Unregister</button>
                    </br></br>
                </div>
                <div class="col-xs-3">
                    <button name="button" type="A" url="#">A</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button name="button" type="B" url="#">B</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button name="button" type="C" url="#">C</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button name="button" type="D" url="#">D</button>
                </div>
                </br>
                <div class="col-xs-12">
                    <button name ="text" type="ul/li debug" url="#">ul/li debug</button>
                </div>
            </form>
        </div>
    </body>
</html>
